* {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

h1 {
  color: #2E2F2F;
  text-align: center;
}

.add-photo-form {
  padding: 20px;
  border: 3px solid #A599B5;
  background-color: #CDDDDD;
}

input,
.add-photo-button {
  display: block;
  margin: 10px auto;
}

input, button {
  outline: none;
}

input {
  line-height: 300%;
  width: 400px;
}

.add-photo-button {
  border: none;
  height: 40px;
}

.add-photo-button:hover {
  background-color: #A599B5;
}

.photo-album {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: grey;
}

.photo {
  width: 300px;
  height: 300px;
  display: inline-block;
  border: 3px solid #A599B5;
  padding: 10px;
  margin: auto;
  text-align: center;
  background-color: #CFD3D3;
}

img {
  height: 200px;
  width: auto;
  border: 1px solid black;
}

.photo-title {
  font-size: 20px;
  padding: 15px;
}

.delete-button {
  background-image: url('./garbage.png');
  border: none;
  background-size: 20px;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-color: #CFD3D3;
}