* {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

h1 {
  color: aqua;
  text-align: center;
}

.add-photo-form {
  border: 3px solid maroon;
  background-color: magenta;
}

input,
.add-photo-button {
  display: block;
  margin: 10px auto;
}

input {
  line-height: 300%;
  width: 400px;
}

.add-photo-button {
  border: none;
  height: 40px;
}

.photo-album {
  border: 3px dashed maroon;
  display: flex;
  flex-wrap: wrap;
}

.photo {
  width: 300px;
  height: 300px;
  display: inline-block;
  border: 1px black solid;
  padding: 10px;
  margin: auto;
  text-align: center;
}

img {
  height: 200px;
  width: auto;
  border: 1px solid black;
}

.photo-title {
  font-size: 20px;
}